<!DOCTYPE html>
<html lang="en">
<head>
    <link rel= "stylesheet" type= "text/css"
          href= "{{ url_for('static',filename='styles/style.css') }}">
     <meta charset="UTF-8">
    <title>Title</title>

   <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
  <h1>Login page</h1>



  <input type="button"  value="Employees" onclick="f1()" />

   <div id="displayEmp">

   </div>

<script>

       function f1(){
         $.get( "api/v1/employees", function( data ) {
   $("#displayEmp" ).html(  data[0].location );
    console.log(data)
  //alert( "Load was performed." );
});
       }
   </script>
</body>
</html>